<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        <h1>Welcome to the API Fun House!</h1>
      </nb-card-header>
      <nb-card-body>
         <h5>Here you can interact in the following ways:</h5>
         <br>
         <nb-list>
           <nb-list-item>Test out your Jeopardy skills.</nb-list-item>
           <nb-list-item>Learn random facts about numbers.</nb-list-item>
           <nb-list-item>Checkout awesome images from NASA.</nb-list-item>
          </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-4 col-md-6">
    <nb-card accent="danger" >
      <nb-card-header><h2>Jeopardy</h2></nb-card-header>
      <nb-card-body>
        
        <nb-flip-card>
          <nb-card-front>
            <nb-card status="danger">
              <nb-card-header><h4 class="title">Category: {{jeopardyQuestion?.category.title | titlecase}}</h4></nb-card-header>
              <nb-card-body>
                <p class="card-text">{{jeopardyQuestion?.question}}</p>
                <br />
              </nb-card-body>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card>
              <nb-card-body>
                <p class="card-text">{{jeopardyQuestion?.answer | stripHtml}}</p>
                <br />
                <br />
                <br />
              </nb-card-body>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="getRandomQuestion();">Get a new Jeopardy question.</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxxl-4 col-md-6">
    <nb-card  accent="success">
      <nb-card-header>
        <h2>Pick A Number</h2>
      </nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select Showcase" [(selected)]="selectedItem" (selectedChange)="getNumberFact();" status="success">
          <nb-option value="1">1</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="5">5</nb-option>
          <nb-option value="6">6</nb-option>
          <nb-option value="7">7</nb-option>
          <nb-option value="8">8</nb-option>
          <nb-option value="9">9</nb-option>
          <nb-option value="10">10</nb-option>
          <nb-option value="11">11</nb-option>
          <nb-option value="12">12</nb-option>
          <nb-option value="13">13</nb-option>
          <nb-option value="14">14</nb-option>
          <nb-option value="15">15</nb-option>
          <nb-option value="16">16</nb-option>
          <nb-option value="17">17</nb-option>
          <nb-option value="18">18</nb-option>
          <nb-option value="19">19</nb-option>
          <nb-option value="20">20</nb-option>
        </nb-select>
      </nb-card-body>
      <nb-card-footer>
        <p>{{numberFact}}</p>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxxl-4 col-md-6">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="xlarge" accent="info">
        <nb-card-header>
          <h2>Nasa Photo</h2>
        </nb-card-header>
        <nb-card-body>
          <button nbButton status="info" (click)="getRandomPhoto();">Get a new NASA photo.</button><br />
          <img style="margin-top:20px;" *ngIf="nasaImgSrc"  [src]="nasaImgSrc" />
        </nb-card-body>
      </nb-card>
    </div>
</div>